.login-comp {
    /* background-color: rgb(255, 217, 160); */

    background-color: rgb(65, 62, 228);
    background-color: rgb(65, 62, 228);
    width: 400px; 
    /* margin-bottom: 10rem; */
    /* margin-top: 50px; */
    /* margin:150px 400px;
    margin-bottom: -600px; */
}
.top-container {
    width: 1000px;
    height: 480px;
    padding-top:100px;
}

/* form {
    
} */